#main-nav >li:nth-child(6) >a{
    color: #f78312;
}
.mobile{
    display: block;
}

.desktop{
    display: none;
}

#map{
    height: 600px;
}

#contact-form {
    background-color: #fff;
    z-index: 99999;
    border-radius: 2px;
    padding: 0 3vw;
    min-height: 430px;
}

.contact-input{
    width: 100%;
    font-family: 'Muli', sans-serif;
    vertical-align: top;
    padding: 0;
}

.contact-info{
    width: 100%;
    font-family: 'Muli', sans-serif;
    vertical-align: top;
}

.contact-info div{
    padding: 10px 0;
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
}

.address-title{
    font-weight: bold;
}

.address-title p{
    font-weight: normal;
}

.contact-info div:last-child{
    border-bottom: none;
}

.contact-info span{
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.contact-info a{
    float: left;
}

.contact-info p{
    padding: 10px 0;
}

.title{
    background: #ebebeb;
    font-family: 'Muli', sans-serif;
    padding: 0 0 0 1vw;
}

.title h1{
    line-height: 60px;
}

.field{
    margin-top: 10px;
}

.field label {
    font-size: .93333rem;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.input, input[type=text], input[type=email], input[type=phone], textarea {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 15px;
    width:100%;
}

textarea{
    height: calc(100vh - 620px);
    min-height: 70px;
}

.contact-option button{
    background: #333;
    text-align: center;
    font-weight: 700;
    font-size: .93333rem;
    line-height: 1.4;
    text-decoration: none;
    color: #ebebeb;
    padding: 13px 30px;
    cursor: pointer;
    transition: all .2s;
    outline: none;
    border: none;
    float: right;
}

.contact-option{
    margin-top: 10px;
}

.contact-option label, .contact-option input{
    display: inline-block;
    padding-top: 10px;
}

.copyright-bar{
    z-index: 9999999;
    background-color: #141414;
    width: 100%;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

@media only screen and (min-width:980px) {
    main{
        width: 100%;
        position: fixed;
        bottom:0;
        top: 110px;
        margin: 0;
        overflow: auto;
    }

    fieldset{
        padding: 0 0 0 10px;
    }

    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    #map
    {
        /*height: 100%;*/
        height: 800px;
        width: 100%;
    }

    #contact-form{
        min-height: calc(100vh - 260px);
        width: 750px;
        top: 3vh;
        position: absolute;
        z-index: 99999;
        left: 40px;
        padding: 0;
        box-shadow: 0 0 7px rgba(0,0,0,.5);
    }

    .title{
        padding: 0 0 10px 10px;
    }

    .contact-input{
        width: 450px;
        padding: 0 10px 10px 0;
        border-right: 1px solid #f3f3f3;
        float: left;

    }

    .contact-info{
        width: 300px;
        float: right;
        padding-bottom: 15px;
        font-size: 12px;
    }

    .contact-info div{
        padding: 10px 10px 10px 20px;
        border-bottom: 1px solid #f3f3f3;
        width: 100%;
    }

    .copyright-bar{
        position: absolute;
        bottom: 0;
    }

    .contact-option{
        height:unset;
    }

    .contact-option button{

        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;
        float: right;
        margin-top: unset;
    }
}

