.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 4px;
    margin: 0 3px 15px;
    background: #fff;
    transition: opacity 200ms ease;
    border-radius: 0;
    opacity: 0.5;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
    opacity: 0.7;
}
.owl-carousel button.owl-dot
{
    height: 4px;
    outline: none;
}
.owl-dots {

    position: absolute;
    bottom: 10px;
    width: 100%;
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
    touch-action: auto;
}

.slide-item-1{
    background-image: url("../images/slides/mobile/slide1.jpg");
}
.slide-item-2{
    background-image: url("../images/slides/mobile/slide2.jpg");
}
.slide-item-3{
    background-image: url("../images/slides/mobile/slide3.jpg");
}
.slide-item-4{
    background-image: url("../images/slides/mobile/slide4.jpg");
}

.item-inner{
    height: 100%;
    position: relative;
}

.slide-item{
    width: 100%;
    height: 100% !important;
    min-height: 100% !important;
    background-size: cover;
    background-position: center center;
}

.item-inner.container{
    padding: 0 5px;
}

.slide-content{
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    color: white;
    bottom: 5px;
    width: calc(100% - 10px);
    padding: 15px 35px;
    position: absolute;
}

.slide-content h1{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    line-height: 45px;
}

.slide-content p{
    font-size: 14px;
    font-weight: 200;
}
.slide-content a{
    margin-top: 20px;
    color: #f78312;
    font-weight: 600;
}

.homepage-slide .owl-item{
    height: calc(100vw*(7/10));
}

@media only screen and (min-width:800px) {
    .slide-item-1{
        background-image: url("../images/slides/slide1.jpg");
    }
    .slide-item-2{
        background-image: url("../images/slides/slide2.jpg");
    }
    .slide-item-3{
        background-image: url("../images/slides/slide3.jpg");
    }
    .slide-item-4{
        background-image: url("../images/slides/slide4.jpg");
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 27px;
    }
    .homepage-slide .owl-item{
        height: calc(100vh - 155px);
    }

    .item-inner.container{
        padding: 0 3vw;
    }

    .slide-content{
        padding: 2vw 4vw 2vw 2vw;
        width: 27vw;
        top:50%;
        transform: translate(0%, -50%);
        min-width: 420px;
        min-height: 360px;
    }

    .slide-content h1{
        font-size: 60px;
        font-weight: bold;
        font-family: 'Fira Sans', sans-serif;
        line-height: 70px;
    }
}
