@inherits UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var homePage = Model;
}
<div class="member">
    <div class="container">
        <h1>@homePage.PartnerListTitle</h1>
        @foreach (var item in homePage.PartnerList)
        {
            <div class="member-icon">
                <a target="_blank" href="@item.PartnerWebsiteUrl"><img src="@(item.PartnerLogo?.Url())" alt="@item.PartnerName"></a>
            </div>
        }
    </div>
</div>

