footer{
    background-color: #141414;
    color: #fff;
}
#footer-bar{
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.footer-col
{
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
}

.copyright{
    text-align: left;
}

@media only screen and (min-width:980px) {
    .footer-col
    {
        vertical-align: top;
        width: 50%;
        padding: 0 15px;
        float: left;
    }
    .copyright{
        text-align: right;
    }
}