header{
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    background: #ffffff;
    width: 100%;
    text-align: center;

}

header .container{
    position: relative;
    z-index: 9;
    width: 100%;
    padding: 0;
}

header .logo{
    z-index: 99;
}

header .logo img{
    height: 110px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#main-nav{
    padding-bottom: 1px;
    clear: left;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 40px;
    background: #fff;
    z-index: 9999999;
    text-transform:uppercase;
}

#main-nav li a{
    transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    -webkit-transition: color .1s ease-in-out;
    line-height: 40px;
    margin: 0 0 0 30px;
    font-weight: 600;
    text-align: left;
}

#main-nav li:hover >a{
    color: #f78312;
}

#top-nav{
    margin-left: auto;
    margin-right: auto;
}

#top-nav li{
    margin: 0 5px;
    float: left;
}

/*#top-nav li:nth-child(2){
    margin-right: 0;
}

#top-nav li:nth-child(3), #top-nav li:nth-child(5){
    margin-left: 0;
}*/
#top-nav li:nth-child(2), #top-nav li:nth-child(4) {
        margin-left: 0;
    }
#top-nav li a{
    line-height: 50px;
    color: #000;
    border-bottom: none;
    transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    -webkit-transition: color .1s ease-in-out;
    font-family: 'Josefin Sans', sans-serif;
}

/*.link-email{
    display: none;
}*/

#top-nav li img{
    height: 16px;
    margin-top: 16px;
    width: auto;
}

header .main-menu-btn {
    display: none;
    height: 40px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 0;
    position: relative;
}

.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after {
    position: absolute;
    height: 4px;
    width: 24px;
    top : 20px;
    right: 10px;
    background: rgb(50,50,50);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    z-index: -9999;
}

.main-menu-btn-icon:before {
    content: '';
    top: -7px;
    left: 0;
}

.main-menu-btn-icon:after {
    content: '';
    top: 7px;
    left: 0;
}

#main-menu-state:checked ~ .main-menu-btn-icon {
    height: 0;
    background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn-icon:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn-icon:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#main-menu-state {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}

#main-menu-state:not(:checked) ~ #main-nav {
    display: none;
}

#main-nav .sub-menu li{ 
    padding: 5px;
    padding-left: 15px;
}
@media only screen and (max-width: 980px) {
    #main-nav {
        position: absolute;
        top: 0px;
        display: block;
        width: 100%;
    }
    header .main-menu-btn {
        display: block;
    }
}
@media only screen and (min-width:980px) {    

    header .container{
        padding: 0 3vw;
        height: unset;
    }

    header .logo{
        position: absolute;
    }

    header .logo img{
        margin-left: unset;
        margin-right: unset;
    }

    #main-nav{
        display: block!important;
        padding-bottom: unset;
        float: right;
        clear: right;
        margin-top: 0;
        background: none;
    }

    #main-nav li{
        float: left;
    }

    #main-nav li a{
        line-height: 60px;
        color: #000;
        border-bottom: none;
    }

    #main-nav .has-sub{
        position: relative;
    }

    #main-nav .has-sub:hover .sub-menu{
        display: unset;
    }

    #main-nav .sub-menu{
        background-color: #fefefe;
        position: absolute;
        width: 250px;
        display: none;
        webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    #main-nav .sub-menu li{
        float: none;
        padding: 5px;
    }

    #main-nav .sub-menu li a{
        line-height: 30px;
        font-weight: normal;
    }

    #top-nav{
        width: unset;
    }

    #top-nav li{
        float: none;
    }

    #top-nav {
        float: right;
    }

    #top-nav li{
        margin: 0 0 0 15px;
        float: left;
    }

    #top-nav li:last-child{
        margin: 0 0 0 10px;
    }

    #top-nav li:nth-child(3), #top-nav li:nth-child(5){
        margin: 0 0 0 10px;
    }

    .link-email{
        display: unset;
    }

    .main-menu-btn {
        display: none;
    }
}