.introduction{
    float: left;
    padding: 0 0 30px 0;
}

.introduction ul li{
    padding: 5px 0;
    position: relative;
}

.introduction ul li div{
    margin-left: 30px;
}

.introduction ul li span{
    font-weight: bold;
    margin-right: 0.5em;
}

.introduction ul li:before {
    content: "\f111";
    font-family: Awesome;
    display: inline-block;
    width: 0.4em;
    color: #f78312;
    font-size: 7px;
    position: absolute;
    top: 35%;
    margin-left: 10px;
}

.introduction h2{
    padding-top: 30px;
    padding-bottom: 10px;
}

.introduction h3{
    padding-top: 30px;
    padding-bottom: 10px;
}

.service-list{
    padding-bottom: 40px;
}

.service{
    padding: 20px 0;
}

.service-hero{
    width: 100%;
}

.service-desc{
    width: 100%;
}

.service-name{
    font-size: 22px;
    font-weight: bold;
    color: #4D4D4D!important;
    transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    -webkit-transition: color .1s ease-in-out;
}

.service-name:hover{
    color: #f78312!important;
}

.service-desc p{
    padding-top: 25px;
}

.service-desc .read-more{
    color: #f78312;
    margin-top: 20px;
}

.col75{
    width: 100%;
}

.col25{
    width: 100%;
}

.breadcrumb{
    padding: 15px 0;
}

.breadcrumb a{
    color: #f78312;
    display: inline-block;
}

.panel{
    clear: both;
    overflow: hidden;
    margin-top: 10px;
}

.panel-label {
    width: 100%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    display: block;
    background-color: #f78312;
    background-image: url("/images/svg/arrow_up.svg") ;
    background-position: right 10px center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0 15px;
    transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    -webkit-transition: background-color .1s ease-in-out;
}

.panel-label:hover{
    background-color: #f78312!important;
    color: #fff!important;
}

.panel-state {
    width: 1px;
    height: 1px;
    margin: -1px;
    display: none;
}

.panel-state:not(:checked) ~ .panel-item {
    height: 0;
}

.panel-state:not(:checked) ~ .panel-label {
    background-image: url("/images/svg/arrow_down.svg") ;
    background-color: #ebebeb;
    color: #4d4d4d;
}

.panel-item{
    transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -webkit-transition: height .5s ease-in-out;
}

/*.panel-item.bookeeping{
    height: 336px;
}

.panel-item.accounting-review{
    height: 168px;
}

.panel-item.accounting-procedure{
    height: 112px;
}

.panel-item.others{
    height: 168px;
}

.panel-item.payroll{
    height: 168px;
}

.panel-item.em-reg{
    height: 56px;
}

.panel-item.insurance{
    height: 140px;
}

.panel-item.pit{
    height: 84px;
}

.panel-item.work-permit{
    height: 56px;
}

.panel-item.transfer-pricing{
    height: 112px;
}

.panel-item.vat-refund{
    height: 252px;
}

.panel-item.tax-review{
    height: 112px;
}

.panel-item.tax-audit-support{
    height: 140px;
}

.panel-item.tax-retainer{
    height: 140px;
}

.panel-item.incorporation{
    height: 112px;
}

.panel-item.temporarily{
    height: 112px;
}

.panel-item.erc-irc{
    height: 112px;
}

.panel-item.de-investment{
    height: 224px;
}

.panel-item.m-a{
    height: 140px;
}

.panel-item.dissolution{
    height: 252px;
}*/

.panel-item ul{
    list-style-type:disc;
    margin-left: 30px;
    margin-top: 10px;
    padding-left: 10px;
}

.panel-item li{
    display: list-item;
    padding: 5px 5px 5px 15px;
}

.side-contact-form{
    margin: 50px 0 30px 0;
    padding: 20px 15px 20px 15px;
    background: #4c4c4c;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.side-contact-form p{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 20px 0;
}

input, textarea{
    padding: 8px 10px;
    border: none;
    color: black;
    width: 100%;
    margin: 5px 0 10px;
    font-family: 'Quicksand', sans-serif;
}

input[type=submit]{
    width: 166px;
    height: 36px;
    color: #fff;
    background: #f78312;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
}

@media only screen and (min-width:980px) {
    .service-desc{
        width: 55%;
        float: left;
        padding-left: 20px;
    }

    .service-hero{
        width: 45%;
        float: left;
        padding-right: 20px;
    }

    .col75{
        width: 75%;
        float: left;
        overflow: hidden;
    }

    .col25{
        width: 25%;
        float: left;
    }

    .side-contact-form{
        margin: 50px 0 30px 30px;
    }
}